body{
  
}


#letterBody {
  display: none;
}

#headerImagearea{
  background-image: url("/images/Header.jpg");
  margin-top: 60px;
  text-align: center;
}
div#letterHeader{
  
}

p#pHeader{
  text-align: left;
  margin-left: 80px;
  margin-top: 4px;
}
/*
#letterBody h1 p{
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
  */